<div class="greet-main" id="greeting">
  <div class="greeting-main">
      <div class="greeting-text-div">
          <div>
              <h1 class="greeting-text">Hi, I'm Adisorn Taemeesak <span class="wave-emoji">👋</span></h1>
              <p class="greeting-text-p subTitle">
                  A passionate Full Stack Software Developer 🚀 having an experience of building Web applications with JavaScript / Angular / Springboot / NodeJS and some other cool libraries and frameworks.
              </p>
              <div class="social-media-div">
                <a href="https://github.com/username" class="icon-button github" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-github"></i>
                </a>
                <!-- <a href="https://linkedin.com/in/username" class="icon-button linkedin" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-linkedin-in"></i>
                </a> -->
                <a href="mailto:email@example.com" class="icon-button google" target="_blank" rel="noopener noreferrer">
                  <i class="fas fa-envelope"></i>
                </a>
                <a href="https://gitlab.com/username" class="icon-button gitlab" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-gitlab"></i>
                </a>
                <a href="https://facebook.com/username" class="icon-button facebook" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <!-- <a href="https://twitter.com/username" class="icon-button twitter" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-twitter"></i>
                </a> -->
              </div>

              <div class="button-greeting-div">
                  <a href="#contact" class="main-button">CONTACT ME</a>
                  <a href="resume.pdf" download="Resume.pdf" class="main-button">
                    DOWNLOAD MY RESUME
                  </a>
              </div>
          </div>
      </div>
      <div class="greeting-image-div">
          <img src="/image/staff-adisorn.png" alt="man sitting on table">
      </div>
  </div>
</div>
