<nav>
  <button class="layout-topbar-menu-button" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>

  <h2>My WebSide</h2>

  <ul [class.nav-active]="isMenuActive">
    <li><a href="#">Skills</a></li>
    <li><a href="#">Work Experiences</a></li>
    <li><a href="#">Open Source</a></li>
    <li><a href="#">Achievements</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Talks</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="#">Contact Me</a></li>
    <li><a href="#" class="btn-signin">Sign in</a></li>
  </ul>
</nav>


